@import url("/css/common.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    font-size: 10px;
    /* font-family: 'Open Sans', sans-serif; */
}
.fixedHeader{
    position: sticky;
    width: 100%;
}
.contact-body{
    /* border: 2px solid red; */
    position: relative;
    /* min-height: 100vh; */
    width: 100%;
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-body::before{
    content: "";
    height: 200px;
    max-height: 20vw;
    width: 200px;
    max-width: 20vw;
    border-radius: 50%;
    top: 0;
    left: 22%;
    z-index: -2;
    position: absolute;
    background-color: rgb(0, 183, 255);
    box-shadow: 0px 0px 10px 100px rgb(0, 183, 255);
    animation: bounce-down 5s ease-in-out infinite;
}
.contact-body::after{
    content: "";
    height: 200px;
    max-height: 20vw;
    width: 200px;
    max-width: 20vw;
    border-radius: 50%;
    bottom: -50px;
    right: 20%;
    z-index: -1;
    position: absolute;
    background-color: tomato;
    box-shadow: 0px 0px 10px 100px tomato;
    animation: bounce-up 5s ease-in-out infinite;
}