/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@400;500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


*{
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}
.fixedHeader{
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 50;
    color: grey;
    transition: all .5s;
}
.header{
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    padding: 20px 50px;
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.24); */
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.048); */
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
    /* background-color: rgba(0, 0, 0, 0.507); */
    /* background-color: #f1f4f97e; */
    /* filter: blur(10px); */
}
.header-scrolled{
    background-color: rgba(255, 255, 255, 0.2);
    /* background-color: rgba(0, 0, 0, 0.2); */
    border-bottom: 1px solid rgb(212, 212, 212);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
 .logo{
    /* background-color: red; */
    margin: auto 0;
}
 .logo a{
    /* text gradient */
    /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    background-clip: text;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    /*  */
    text-decoration: none;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    font-size: 3em;
    /* font-weight: 600; */
    /* color: black; */

}
.navbar{
    /* margin-right: 10em; */
    display: flex;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
}
.navbar ul li a{
    position: relative;
    /* border: 2px solid blue; */
    /* padding: 8px 15px; */
    padding: .6em 0;
    margin: 5px .7em;
    /* color: white; */
    /* color: grey; */
    color: inherit;
    text-decoration: none;
    font-size: 1.8em;
    border-radius: 5px;
    /* border-radius: 30% 100% 30% 40% / 70% 30% 70% 30%; */
    /* text-shadow: 0 1px rgba(255, 255, 255, 0.466); */
    transition: .2s;
}
.navbar ul:hover li a,.navbar ul:hover body{
    /* color: rgba(128, 128, 128, 0.25); */
    filter: blur(2px);
}
/* .navbar ul:hover a:hover{
    color: tomato;
} */
/*  */
.navbar ul li a:hover{
    color: tomato;
    filter: blur(0px);
    text-shadow: 0px 0px 10px tomato;
    /* font-size: 2rem; */
    transform: translateY(-10px);

    /* color: red; */
    /* color: rgb(8, 144, 255); */
    /* color: rgb(0, 140, 255); */
}
.navbar ul li .active{
    color: tomato;
    text-shadow: 0px 0px 10px tomato;
    /* color: red; */
    /* color: rgb(8, 144, 255); */
    /* color: rgb(0, 140, 255); */
    /* border-bottom: 3px solid tomato; */
    /* border-bottom: 3px solid red; */
    /* border-bottom: 3px solid rgb(0, 140, 255); */
    /* background: linear-gradient(0deg, rgba(255, 0, 0, 0.247) 0%, rgba(255, 255, 255, 0) 100%); */
    /* background: linear-gradient(0deg, rgba(0, 140, 255, 0.473) 0%, rgba(255, 255, 255, 0) 100%); */
    /* background-color: rgba(255, 0, 0, 0.1); */
}
.navbar .whiteSpace{
    width: 5em;
}
.buttons button i{
    margin-right: .2em;
    font-size: 1.1em;
}

/* hamburger menu */

.openMenu{
    /* visibility: hidden; */
    /* display: none; */
    font-size: 2.5em;
    color: grey;
    cursor: pointer;
    display: none;
}


.fullscreenMenu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: none; */
    transform: translateX(100%);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: all .3s;
}
.fullscreenMenu .closeMenu{
    font-size: 3em;
    color: white;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}
.fullscreenMenu nav ul{
    /* height: 90vh; */
    list-style: none;
    text-align: center;
}
.fullscreenMenu nav ul li{
    padding: 1rem;
    margin: 3em 0;
    font-weight: 600;
    border-bottom: 1px solid white;
}
.fullscreenMenu nav ul li:nth-last-child(1),
.fullscreenMenu nav ul li:nth-last-child(2){
    border: none;
}
.fullscreenMenu nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 2.5em;
}
.fullscreenMenu nav ul li .active{
    /* color: tomato; */
    color: rgb(255, 88, 88);
}
.fullscreenMenu nav ul li a:hover{
    color: tomato;
}
/* .fullscreenMenu nav ul li:last-child{
    margin-top: 1em;
} */
.opened{
    transform: translateX(0);
    opacity: 1;
}

/* responsiveness */

@media screen and (max-width: 800px){
    .header{
        padding: 1em 2em;
    }
    .navbar{
    display: none;
    }
    .openMenu{
    /* visibility: hidden; */
    display: inline-block;
    }
    .header-scrolled{
        padding: 10px 5px;
    }
    
}